apiVersion: v1
kind: Service
metadata:
  name: kafka-jmx-service
  labels:
    app: kafka
spec:
  selector:
    app: kafka
  ports:
    - name: jmx
      protocol: TCP
      port: 7071
      targetPort: 7071

